@charset "UTF-8";
body {
	border-image: url(filmBorder.png) 25 25 round;
}
h1 {
	text-align: center;
	padding: 45px;
}
h2 {
	text-align: center;
}
.details {
	text-align: center;
}
.links {
	font-size: 25px;
	text-align: center;
	display: flex;
	justify-content: space-around;
}
.forms {
	font-size: 20px;
	text-align: center;
}
.inline {
	display: inline;
}
ul {
	text-align: center;
	list-style: none;
}
.search {
	text-align: center;
}
.movieTitle {
	font-size: 30px;
}